#compilation files
*.a
*.o
testing

#binary files
main
libmy
a.out
testing
my_radar

#unit_tests files
*.gcda
*.gcno
*.html
*.css
unit_tests

# Temporary files
/temp
*~
'#*#'
.#*

#random files
.idea
*.log